body {
  font-family: Arial, sans-serif;
  background-color: yellow;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form {
  display: flex;
  flex: 0 1 500px;
  flex-direction: column;
  padding: 75px;
}

.form_input {
  height: 20px;
  margin-bottom: 10px;
  border: 1px solid;
  border-radius: 5px;
  font-size: 16px;
  padding: 10px;
}

.form_cont_input {
  width: 80%;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.form_control {
  width: 80%;
  margin-bottom: 10px;
  display: inline;
  flex-direction: column;
}

.form_label {
  padding-right: 10px;
  width: 200px;
}

.form_title {
  margin-bottom: 20px;
  text-align: center;
}

.link {
  margin-bottom: 20px;
  text-align: center;
  color: rgb(43 195 226);
}

.link > a {
  color: rgb(43 195 226);
}

.form_btn {
  background-color: rgb(35 175 25);
  color: blue;
  padding: 20px 30px;
  align-self: center;
  transition: background-color 0.3s;
  border-radius: 20px;
}

.form_btn:hover {
  background-color: rgb(20 150 15);
}

.errortext {
  color: red;
}

.form_img {
  text-align: right;
  line-height: 25px;
  justify-content: center;
  display: flex;
}

.form_item {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.textarea {
  width: 100%;
}

.checkbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form_select {
  align-self: flex-start;
  margin: auto auto auto 0;
}

input[type='checkbox'],
input[type='radio'] {
  accent-color: #c56fff;
  width: 20px;
  height: 20px;
}

.search-container {
  height: 20px;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column; /* для узких экранов */
  align-items: center;
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.image_block,
.form_block {
  width: 100%;
}

.image_block img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 8px;
}

/* Стили для широких экранов (от 768px и выше) */
@media (width >= 768px) {
  .container {
    flex-direction: row; /* Выстраиваем в ряд */
    justify-content: space-between;
    align-items: flex-start;
  }

  .image_block {
    flex: 1; /* Занимает 50% места */
  }

  .form_block {
    flex: 1; /* Занимает 50% места */
    padding-left: 40px;
  }
}
