body {
  font-family: Arial, sans-serif;
  background-color: yellow;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.box {
  margin-top: 70px;
}

.form_title {
  margin-bottom: 20px;
  text-align: center;
}

.form_btn {
  background-color: rgb(35 175 25);
  color: blue;
  padding: 20px 30px;
  align-self: center;
  transition: background-color 0.3s;
  border-radius: 20px;
  cursor: pointer;
}

table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 3px solid purple;
}

fieldset {
  table-layout: fixed;
  width: 200%;
  border-collapse: collapse;
  border: 3px solid rgb(128 64 0);
}

th,
td {
  border: 1px solid gray;
  padding: 15px 40px;
}

thead th:nth-child(1) {
  width: 1%;
}

thead th:nth-child(2) {
  width: 10%;
}

thead th:nth-child(3) {
  width: 10%;
}

thead th:nth-child(4) {
  width: 40%;
}

thead th:nth-child(5) {
  width: 10%;
}

thead th:nth-child(6) {
  width: 3%;
}

thead {
  max-width: 200px;
}

tbody {
  min-width: 300px;
}

.form_item {
  margin-bottom: 20px;
  text-align: center;
}

label {
  float: left;
  padding-right: 10px;
}

.main {
  float: left;
}

.myinput {
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

.form_input {
  height: 20px;
  margin-bottom: 10px;
  border: 1px solid;
  border-radius: 5px;
  font-size: 16px;
  padding: 10px;
}

.form_cont_input {
  width: 20%;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.search-container {
  display: block;
  width: 20px;
  height: 20px;
  align-items: center;
  justify-content: center;
}

.search-container input {
  padding-left: 30px;
}

.search-icon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
}

.container {
  display: flex;
  flex-direction: column; /* для узких экранов */
  align-items: center;
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.image_block,
.form_block {
  width: 100%;
}

.image_block img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 8px;
}

/* Стили для широких экранов (от 768px и выше) */
@media (width >= 768px) {
  .container {
    flex-direction: row; /* Выстраиваем в ряд */
    justify-content: space-between;
    align-items: flex-start;
  }

  .image_block {
    flex: 1; /* Занимает 50% места */
  }

  .form_block {
    flex: 1; /* Занимает 50% места */
    padding-left: 40px;
  }
}
