body {
  font-family: Arial, sans-serif;
  background-color: yellow;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

input {
  width: 80%;
  height: 20px;
  margin-bottom: 10px;
  border: 1px solid;
  border-radius: 5px;
  font-size: 16px;
  padding: 10px;
}

.form {
  display: flex;
  flex: 0 1 500px;
  flex-direction: column;
  padding: 75px;
}

.form input {
  display: flex;
}

.year {
  text-align: right;
  line-height: 25px;
}

label {
  padding-right: 10px;
  width: 200px;
}

.form_title {
  margin-bottom: 20px;
  text-align: left;
  align-items: center;
}

.link {
  margin-bottom: 20px;
  text-align: center;
  color: rgb(226 43 98);
}

.link > a {
  color: rgb(226 43 98);
}

.form_btn {
  background-color: rgb(35 175 25);
  color: blue;
  padding: 20px 30px;
  align-self: center;
  transition: background-color 0.3s;
  border-radius: 20px;
}

.form_btn:hover {
  background-color: rgb(20 150 15);
}

.errortext {
  color: red;
}

.form_img {
  clear: both;
  text-align: right;
  line-height: 25px;
  justify-content: center;
  display: flex;
}

.form_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.textarea {
  width: 100%;
}
